<div class="col-md-6 offset-med-3">
    <h3 class="text-center">Employee Registration</h3>
  
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="employee.name"
          name="name"
        />
        <label for="lastName">Last Name: </label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="employee.last_Name"
          name="last_name"
        />
  
        <label for="email">Email: </label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="employee.email"
          name="email"
        />
      </div>
      <button  class="btn btn-success">Update</button>
    </form>
  </div>
  